weather.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element -->
    <xs:element name="WeatherData">
        <xs:complexType>
            <xs:sequence>

                <!-- City element (can appear multiple times) -->
                <xs:element name="City" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="Name" type="xs:string"/>

                            <xs:element name="Temperature" type="xs:decimal"/>

                            <xs:element name="Humidity" type="xs:integer"/>

                            <xs:element name="Condition" type="xs:string"/>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
